.card-container{
  
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 500px));
  grid-gap: 50px;
  justify-content: space-around;
  align-items: stretch;
}
.card {
  background-color: #fff;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
  z-index: 1;
  min-height: 680px;
}
.card-body {
  display: flex;              
  flex-direction: column;     
 

}


.card-number {
  margin-top: 15px;
   border: 1px solid #aaa;
  border-radius: 50%;
   font-size: 12px;
     line-height: 22px;
     height: 25px;
       text-align: center;
        display: inline-block;
        width: 25px;
 
}

.food-type{
   display: block;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}
.food-name{
 min-height: 120px;
 font-size: 60px;
  line-height: 60px;
  margin: 10px 0;
  text-transform: capitalize;
}
.food-description {
  /* display: inline-block; */
  line-height: 22px;
  margin: 10px 0;
}
.card-container img{
   max-width: 100%;
  height: 300px;
  margin-bottom: 10px;
  
}
button{
margin-left: 150px;
 background-color:  #fff;
 border: 1px solid rgba(0, 0, 0, 0.176);
 padding: 8px;

}